.common_button {
  min-width: 20rem;
  height: 4rem;
  padding-top: $s8;
  padding-right: $s12;
  padding-bottom: $s8;
  padding-left: $s12;
  gap: $s8;
  box-shadow: 0px -2px 2px 0px #3030301A inset;
  box-shadow: 0px 12px 12px 0px #FFFFFF1F inset;
  font-weight: $medium;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -2%;
  border-radius: $s8;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button_primary {
  background: $primary;
  color: $neutral_01;

  &:hover {
    background: #5061fc;
  }
}

.button_secondary {
  background: #EDF0F2;
  color: $neutral_08;

  &:hover {
    background: rgba(0, 20, 60, .15);
  }
}

.full_width {
  width: 100%;
}