.notification_bar {
  height: 4rem;
  background-color: $neutral_02;
  position: relative;
  gap: 0 $s12;
  @include flex-center();
  font-weight: $semibold;
  line-height: $lh125;

  .shop_now {
    color: $primary;
    display: flex;
    align-items: center;
    gap: 0 $s4;
    border-bottom: 1px solid $primary;
  }

  .close_icon {
    position: absolute;
    cursor: pointer;
    right: $s16
  }
}