.linkButtonWrapper {
  display: flex;
  align-items: center;
  gap: 0 $s4;
  border-bottom: 1px solid transparent;
  width: fit-content;
  span {
    font-size: $f16;
    font-weight: $medium;
    line-height: 1.75rem;
    letter-spacing: -0.025rem;
  }

  &:hover {
    border-bottom: 1px solid $neutral_07;
  }
  @include media-breakpoint-down(md) {
    span {
      font-size: $f14;
      line-height: $s24;
    }
  }
}
