.featured_products {
  background: #fff;

  .container {
    margin: 0 5%;

    .view_more {
      border-radius: $s32;
      padding: $s16 $s32;
      cursor: pointer;
      margin-top: $s20;
    }
  }
}