.cards_analytic_wrapper {
  background-color: #ffffff;
  padding: $s24;
  border-radius: $s14;
  box-shadow: $shadow_03;
  .cards_analytic_title {
    font-size: $f24;
    font-weight: $bold;
    margin-bottom: $s12;
  }

  .cards_analytic_subtitle {
    font-size: $f14;
    color: $neutral_05;
    margin-bottom: $s24;
  }

  .cards_analytic_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $s16;
    .card_wrapper {
      padding: 0;
      box-shadow: none;
      border-radius: $s12;
      background: $infor_light;
      .inner_icon {
        background-color: $infor;
        color: $infor_light;
      }
      &:nth-child(2) {
        background: $success_light;
        .inner_icon {
          color: $success_light;
          background-color: $success;
        }
      }
      &:nth-child(3) {
        background: $warning_light;
        .inner_icon {
          color: $warning_light;
          background-color: $warning;
        }
      }
      &:nth-child(4) {
        background: $danger_light;
        .inner_icon {
          color: $danger_light;
          background-color: $danger;
        }
      }
      .card_content {
        padding: $s24;

        .card_inner {
          @include flex-between();

          .inner_content {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: $s10;
            .card_value {
              font-size: $f24;
              font-weight: $bold;
            }
            .card_title {
              font-size: $f18;
              color: $neutral_05;
              margin-bottom: $s8;
              font-weight: $medium;
            }

            .card_subtitle {
              font-size: $f12;
              color: $infor;
            }
          }
          .inner_icon {
            padding: $s10;
            border-radius: 100%;
          }
        }
      }
    }
  }
}
