@use 'utils/index' as *;

.iu-ac {
  align-items: center;
}

.iu-al {
  align-items: left;
}

// font
.iu-cap {
  text-transform: capitalize;
}

.iu-upp {
  text-transform: uppercase;
}

.iu-low {
  text-transform: lowercase;
}

.iu-align-start {
  align-items: flex-start;
}

// display
.iu-d-flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iu-d-flexend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.iu-d-flexbetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iu-d-flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iu-flex-grow1 {
  flex-grow: 1;
}

.iu-w-full {
  width: $w100;
}

.iu-w-fitcontent {
  width: fit-content;
}

// width
.iu-w14 {
  width: 14%;
}

.iu-w15 {
  width: 15%;
}

.iu-w16 {
  width: 16%;
}

.iu-w17 {
  width: 17%;
}

.iu-w18 {
  width: 18%;
}

.iu-w25 {
  width: 25%;
}

.iu-w38 {
  width: 38%;
}

.iu-w40 {
  width: 40%;
}

.iu-w45 {
  width: 45%;
}

.iu-w50 {
  width: 50%;
}

.iu-w60 {
  width: 60%;
}

.iu-w100 {
  width: $w100;
}

// position
.iu-fr {
  float: right;
}

.iu-pr {
  position: relative;
}

.iu-pa {
  position: absolute;
}

.iu-tc {
  text-align: center;
}

.iu-tl {
  text-align: left;
}

.iu-tr {
  text-align: right;
}

// pre
.iu-pre {
  white-space: pre-wrap;
}

.iu-cp {
  cursor: pointer;
}

.iu-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iu-hidden-y {
  overflow: hidden !important;
}

.iu-pointer {
  cursor: pointer;
}

.iu-button-default {
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
  outline: inherit;
}

.error-message {
  color: $secondary_red;
  font-size: $f14;
  margin-top: $s4;
  display: block;
}

.reset_btn {
  width: fit-content;
  height: fit-content;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;

  &:hover {
    width: fit-content;
    padding: 0;
    background: transparent;
    border-radius: 0;
    text-decoration-line: none;
  }
}

.menu_hover_underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: -0.375rem;
    left: 0;
    width: 0;
    height: .0938rem;
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}