.quantitySelectorWrapper {
  border-radius: $s4;
  border: 0.0625rem solid $neutral_04;
  padding: $s8;
  gap: 0 $s12;
  width: fit-content;
  @include flex-center();
  span {
    font-size: $f12;
    line-height: 1.25rem;
    font-weight: $semibold;
    color: $neutral_08;
  }
  svg {
    cursor: pointer;
  }
}
