.panel_cart_wrapper {
  padding-bottom: 0;
  overflow-y: auto;
  max-width: 30vw;

  &>button {
    display: none;
  }

  .panel_cart_container {
    padding: 0 !important;

    .panel_cart_title {
      font-size: $f20;
      @include flex-between();
      padding: $s32 $s24;
    }

    .panel_cart_content {
      .cart_content_list {
        padding: 0 $s24;

        .cart_content_item {
          display: flex;
          gap: 0 $s16;
          padding: $s16 0;
          border-bottom: 1px solid #e8ecef;

          .content_item_img {
            object-fit: cover;
            aspect-ratio: 1 / 1;
            border-radius: 0.375rem;
          }

          .content_item_left {
            flex: 1;

            .item_name_price {
              @include flex-between();

              .item_name,
              .item_price {
                font-size: $f14;
                line-height: 2rem;
                font-weight: 600;
                color: #030712;
              }
            }

            .item_variant {
              @include flex-between();
              margin: $s8 0;

              .item_variant_text {
                font-size: $f12;
                line-height: 2rem;
                color: #6c7275;
              }
            }
          }
        }
      }

      .cart_content_summary {
        padding: $s24;
        display: grid;
        gap: $s24;
        background-color: $neutral_02;

        .summary_subtotal {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));

          .sub_total_note {
            line-height: 2rem;
            font-size: $f12;
          }

          .sub_total_value {
            place-self: end;
            display: grid;
            gap: .3125rem;

            .sub_total_price {
              font-size: $f16;
              font-weight: $semibold;
            }
          }
        }

        .summary_button {
          display: grid;
          grid-template-rows: auto auto;
          gap: $s16;
          justify-items: center;


          .button_view_cart {
            font-size: $f14;
            line-height: 2.2rem;
            font-weight: 600;
            display: block;
            width: fit-content;
            border-bottom: 1px solid rgba(0, 0, 0, 0);

            &:hover {
              border-bottom: 1px solid #030712;
            }
          }
        }

      }
    }

  }
}