// Font Family

//font size variables
$size1: 0.1rem !default;
$font-base: $size1 * 16; // Assumes the browser default, typically `16px`
$f12: $font-base * 0.75 !default;
$f13: $font-base * 0.8125 !default;
$f14: $font-base * 0.875 !default;
$f16: $font-base * 1 !default;
$f18: $font-base * 1.125 !default;
$f19: $font-base * 1.1875 !default;
$f20: $font-base * 1.25 !default;
$f24: $font-base * 1.5 !default;
$f28: $font-base * 1.75 !default;
$f32: $font-base * 2 !default;
$f38: $font-base * 2.375 !default;

//font weight variables
$fw300: 300 !default;
$normal: 400 !default;
$medium: 500 !default;
$semibold: 600 !default;
$bold: 700 !default;

//line height variables
$lh1: 1 !default;
$lh125: 1.25 !default;
$lh135: 1.35 !default;
$lh14: 1.4 !default;
$lh15: 1.5 !default;
$lh2: 2 !default;
$lh24: 2.4rem !default;
$lh32: 3.2rem !default;



// padding margin variables (1rem = 10px)
$s4: 0.4rem;
$s6: 0.6rem;
$s8: 0.8rem;
$s10: 1rem;
$s12: 1.2rem;
$s14: 1.4rem;
$s15: 1.5rem;
$s16: 1.6rem;
$s18: 1.8rem;
$s20: 2rem;
$s22: 2.2rem;
$s24: 2.4rem;
$s28: 2.8rem;
$s32: 3.2rem;
$s40: 4rem;
$s48: 4.8rem;
$s64: 6.4rem;

// border-radius-variables (1rem = 10px)
$br2: 0.2rem !default; // 2px
$br4: 0.4rem !default; // 4px
$br6: 0.6rem !default; // 6px
$br8: 0.8rem !default; // 8px
$br20: 2rem !default; // 20px

// resonsive breakpoints
$grid-breakpoints: (
  xs: 410px,
  sm: 640px,
  md: 768px,
  ipadair: 821px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1440px,
  3xl: 1536px) !default;

// Color variables
$primary: #3348FF;
$secondary_green: #38cb89;
$secondary_orange: #ffab00;
$secondary_red: #ff5630;
// Neutral light colors
$neutral_01: #FEFEFE;
$neutral_02: #F9FAFB;
$neutral_03: #E8ECEF;
$neutral_04 : #F3F5F7;
// Neutral dark colors
$neutral_05: #6c7275;
$neutral_06: #343839;
$neutral_07: #232627;
$neutral_08: #141718;
// status color
$infor: #1B84FF;
$infor_light: #E9F3FF;
$warning: #F6C000;
$warning_light: #FFF8DD;
$success: #17C653;
$success_light: #DFFFEA;
$danger: #F8285A;
$danger_light: #FFEEF3;

//Shadow variables
$shadow_01: rgba(26, 26, 26, 0.07) 0rem 0.0625rem 0rem 0rem;
$shadow_02: rgba(26, 26, 26, 0.07) 0rem 0.1875rem 0.0625rem -0.0625rem;
$shadow_03: rgba(26, 26, 26, 0.2) 0rem 0.25rem 0.375rem -0.125rem;
$shadow_04: rgba(26, 26, 26, 0.22) 0rem 0.5rem 1rem -0.25rem;
$shadow_05: rgba(26, 26, 26, 0.24) 0rem 0.75rem 1.25rem -0.5rem;




// width and height variables
$w10: 10%;
$w40: 40%;
$w80: 80%;
$w100: 100%;