// Font Family

//font size variables
$size1: 0.1rem !default;
$font-base: $size1 * 16; // Assumes the browser default, typically `16px`
$f12: $font-base * 0.75 !default;
$f13: $font-base * 0.8125 !default;
$f14: $font-base * 0.875 !default;
$f16: $font-base * 1 !default;
$f18: $font-base * 1.125 !default;
$f19: $font-base * 1.1875 !default;
$f20: $font-base * 1.25 !default;
$f24: $font-base * 1.5 !default;
$f28: $font-base * 1.75 !default;
$f32: $font-base * 2 !default;
$f38: $font-base * 2.375 !default;

//font weight variables
$fw300: 300 !default;
$normal: 400 !default;
$medium: 500 !default;
$semibold: 600 !default;
$bold: 700 !default;

//line height variables
$lh1: 1 !default;
$lh125: 1.25 !default;
$lh135: 1.35 !default;
$lh14: 1.4 !default;
$lh15: 1.5 !default;
$lh2: 2 !default;
$lh24: 2.4rem !default;
$lh32: 3.2rem !default;



// padding margin variables (1rem = 10px)
$s4: 0.4rem;
$s6: 0.6rem;
$s8: 0.8rem;
$s10: 1rem;
$s12: 1.2rem;
$s14: 1.4rem;
$s15: 1.5rem;
$s16: 1.6rem;
$s18: 1.8rem;
$s20: 2rem;
$s22: 2.2rem;
$s24: 2.4rem;
$s28: 2.8rem;
$s32: 3.2rem;
$s40: 4rem;
$s48: 4.8rem;
$s64: 6.4rem;

// border-radius-variables (1rem = 10px)
$br: 0.8rem !default; // 8px
$br4: 0.4rem !default; // 4px
$br6: 0.6rem !default; // 6px
$br8: 0.8rem !default; // 8px
$br20: 2rem !default; // 20px

// resonsive breakpoints
$grid-breakpoints: (
  xs: 410px,
  sm: 640px,
  md: 768px,
  ipadair: 821px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1440px,
  3xl: 1536px) !default;

$primary: #3348FF;
$secondary_green: #38cb89;
$secondary_orange: #ffab00;
$secondary_red: #ff5630;
$neutral_00: #e8e9ea;
$neutral_01: #fefefe;
$neutral_02: #f3f5f7;
$neutral_03: #e8ecef;
$neutral_04: #1d1d2006;
$neutral_05: #6c7275;
$neutral_06: #343839;
$neutral_07: #232627;
$neutral_08: #030712;
$neutral_09: #121212;
$border_01: #eaeaea;

// width and height variables
$w10: 10%;
$w40: 40%;
$w80: 80%;
$w100: 100%;