.whishButtonWrapper {
  height: $s32 !important;
  width: $s32;
  border-radius: 100% !important;
  box-shadow: 0 $s8 $s16 -0.5rem rgba(15, 15, 15, 0.12) !important;
  padding: 0 !important;
  background-color: white !important;
}
